<section>
    <div class="advanteges">
        
        <h1 class="">01</h1>
    <ol class="">
        <p class="">Swimming and water sports: try your hand at water skiing</p>
    </ol>
    
        <h1 class="">02</h1>
    <ol class="">
        <p class="">Fishing: try to catch your own dinner</p>
    </ol>
    
        <h1 class="">03</h1>
    <ol class="">
        <p class="">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
    </ol>
        <h1 class="">04</h1>
    <ol class="">
        <p class="">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
    </ol>
    </div>
    <div class="">
        <img 
        class=""
        src="s" 
        alt="photo-deck">
    </div>
</section>