<section>
    <div>
        
        <h1>01</h1>
    <li>
        <p>Swimming and water sports: try your hand at water skiing</p>
    </li>
    
        <h1>02</h1>
    <ol>
        <p>Fishing: try to catch your own dinner</p>
    </ol>
    
        <h1>03</h1>
    <ol>
        <p>Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
    </ol>
        <h1>04</h1>
    <ol>
        <p>Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
    </ol>
    </div>
    <div>
        <img 
        class=""
        src="" 
        alt="photo-deck">
    </div>
</section>