
<section class="advantages">
    <div class="contant-container container">
        <ol class="activities">
            <li>
        <h3 class="hasl">01</h3>
        <p class="p-f">Swimming and water sports: try your hand at water skiing</p>
    </li>
        <li>
        <h3 class="hasl">02</h3>
        <p class="p-s">Fishing: try to catch your own dinner</p>
    </li>
    <li>
        <h3 class="hasl">03</h3>
        <p class="p-f">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
    </li>
    <li>
        <h3 class="hasl">04</h3>
        <p class="p-f">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
    </li>
    </ol>
    </div>
    <div class="div-f">
        <img class="photo-de" src="/src/img/photo-deck.png" alt="photo-deck" 
        >
    </div>
</section>

<!--<div class="content-container">
    <div class="activities">
        <div class="activity">
            <h3>01</h3>
            <p>Swimming and water sports: try your hand at water skiing</p>
        </div>
        <div class="activity">
            <h3>02</h3>
            <p>Fishing: try to catch your own dinner</p>
        </div>
        <div class="activity">
            <h3>03</h3>
            <p>Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
        </div>
        <div class="activity">
            <h3>04</h3>
            <p>Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
        </div>
    </div>
    <div class="image-container">
        <img src="/src/img/photo-deck.png" alt="photo-deck">
    </div>
</div>
-->