<div class="modal-container">
  <ul class="modal-list">
    <li class="moadal-item"><a class="modal-link" href="">About</a></li>
    <li class="moadal-item"><a class="modal-link" href="">Yachts</a></li>
    <li class="moadal-item"><a class="modal-link" href="">Reviews</a></li>
  </ul>
  <ul class="moadal-soc-list">
    <li class="moadal-soc-item">
      <a class="modal-soc-link" href="https://www.instagram.com/goitclub/">
        <svg width="19" height="19">
          <use href="/img/symbol-defs.svg#icon-Instagram"></use>
        </svg>
      </a>
    </li>
    <li class="moadal-soc-item">
      <a class="modal-soc-link" href="https://www.youtube.com/c/GoIT"
        ><svg width="19" height="19">
          <use href="/img/symbol-defs.svg#icon-YouTube"></use>
        </svg>
      </a>
    </li>
    <li class="moadal-soc-item">
      <a class="modal-soc-link" href="https://www.facebook.com/goITclub/"
        ><svg width="19" height="19">
          <use href="/img/symbol-defs.svg#icon-Facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
