<section class="yachts-section">
  <div class="container">
    <div class="yachts-container">
      <h2 class="title-yachts">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <ul class="yachts-list">
        <li class="yachts-list-item">
          <div class="yachts-img">
            <img srcset="" src="" alt="yachts-arrow" width="100%" />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-name">Arrow</div>
            <div class="yachts-card-class">LUXURY YAHTS</div>
            <div class="yachts-card-characteristics">
              <ul class="yachts-characteristics-list">
                <li class="yachts-characteristics-item">LENGTH</li>
                <li class="yachts-characteristics-item">BUILDER</li>
                <li class="yachts-characteristics-item">BUILT</li>
                <li class="yachts-characteristics-item">GUESTS</li>
                <li class="yachts-characteristics-item">PRICE</li>
              </ul>
            </div>
            <div class="yachts-card-parameters">
              <ul class="yachts-parameters-list">
                <li class="yachts-parameters-item">48m(155ft)</li>
                <li class="yachts-parameters-item">Admiral</li>
                <li class="yachts-parameters-item">2021</li>
                <li class="yachts-parameters-item">11 in 5 cabins</li>
                <li class="yachts-parameters-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
