.advantages{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
position: absolute;
width: 1340px;
height: 424px;
left: 50px;
top: 2653px;
margin: 2653px 50px 1965px 50px;
}
.div-advantages{
width: 768px;
height: 424px;
flex: none;
order: 0;
flex-grow: 0;
}
.photo-de{
position: absolute;
width: 540px;
height: 424px;
left: 0px;
top: 0px;
background: url(image.png);
}
.ol-f{
    position: absolute;
    width: 318px;
    height: 100px;
    left: 50px;
    top: 90px;
    }
.first{
position: absolute;
width: 35px;
height: 32px;
left: 50px;
top: 90px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FBFBFB;
}
.p-f{
position: absolute;
width: 238px;
height: 30px;
left: 50px;
top: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
letter-spacing: -0.02em;
color: #FBFBFB;
opacity: 0.8;
}
.second{
position: absolute;
width: 39px;
height: 32px;
left: 400px;
top: 90px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FBFBFB;
}
.ol-s{
position: absolute;
width: 318px;
height: 85px;
left: 400px;
top: 90px;
}
.p-s{
position: absolute;
width: 216px;
height: 15px;
left: 400px;
top: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
letter-spacing: -0.02em;
color: #FBFBFB;
opacity: 0.8;
}
.third{
    position: absolute;
    width: 40px;
    height: 32px;
    left: 50px;
    top: 234px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #FBFBFB;
}
.ol-t{
position: absolute;
width: 318px;
height: 100px;
left: 50px;
top: 234px;
}
.p-t{
position: absolute;
width: 292px;
height: 30px;
left: 50px;
top: 304px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
letter-spacing: -0.02em;
color: #FBFBFB;
opacity: 0.8;
}
.fourth{
position: absolute;
width: 40px;
height: 32px;
left: 400px;
top: 234px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FBFBFB;
}
.ol-fo{
position: absolute;
width: 318px;
height: 100px;
left: 400px;
top: 234px;
}
.p-fo{
position: absolute;
width: 292px;
height: 30px;
left: 400px;
top: 304px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
letter-spacing: -0.02em;
color: #FBFBFB;
opacity: 0.8;
}
.div-f{
width: 540px;
height: 424px;
border-radius: 24px;
flex: none;
order: 1;
flex-grow: 0;
}